nodered.json
[
    {
        "id": "9c47dda14cd08116",
        "type": "tab",
        "label": "LABSud Agenda Scraper",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a5e3a6864b4245a",
        "type": "file",
        "z": "9c47dda14cd08116",
        "name": "",
        "filename": "calendar.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "c4de100e1a4d0c26",
                "77290e1a7e61ed11"
            ]
        ]
    },
    {
        "id": "c4de100e1a4d0c26",
        "type": "change",
        "z": "9c47dda14cd08116",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 20,
        "wires": [
            [
                "f83f259d7cf7d1f9"
            ]
        ]
    },
    {
        "id": "521b8999b63f6706",
        "type": "inject",
        "z": "9c47dda14cd08116",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 20,
        "wires": [
            [
                "a1895f0b5b1676e6"
            ]
        ]
    },
    {
        "id": "f83f259d7cf7d1f9",
        "type": "ftp in",
        "z": "9c47dda14cd08116",
        "ftp": "361853ba4ef1185b",
        "operation": "put",
        "filename": "/www/labsud/calendar.json",
        "localFilename": "calendar.json",
        "name": "",
        "x": 710,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "065622f34014e679",
        "type": "file in",
        "z": "9c47dda14cd08116",
        "name": "",
        "filename": "ateliers_labsud.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 320,
        "y": 240,
        "wires": [
            [
                "46c66c7dd68815ae"
            ]
        ]
    },
    {
        "id": "717ecf92a78a2376",
        "type": "inject",
        "z": "9c47dda14cd08116",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "065622f34014e679"
            ]
        ]
    },
    {
        "id": "46c66c7dd68815ae",
        "type": "debug",
        "z": "9c47dda14cd08116",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "77290e1a7e61ed11",
        "type": "debug",
        "z": "9c47dda14cd08116",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "a1895f0b5b1676e6",
        "type": "ical-upcoming",
        "z": "9c47dda14cd08116",
        "confignode": "24cf703021ba6494",
        "timeout": "1",
        "timeoutUnits": "hours",
        "cron": "",
        "name": "",
        "offsettype": "",
        "offset": "",
        "offsetUnitstype": "",
        "offsetUnits": "",
        "eventtypes": "events",
        "eventtypestype": "str",
        "calendar": "",
        "calendartype": "str",
        "triggertype": "trigger",
        "trigger": "always",
        "timezone": "",
        "timezonetype": "str",
        "dateformat": "{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }",
        "dateformattype": "json",
        "language": "en",
        "languagetype": "language",
        "filterProperty": "summary",
        "filterPropertytype": "filterProperty",
        "filterOperator": "between",
        "filterOperatortype": "filterOperator",
        "filtertype": "str",
        "filter2type": "str",
        "filter2": "",
        "filter": "",
        "checkall": false,
        "endpreview": "",
        "endpreviewUnits": "",
        "previewtype": "num",
        "preview": "250",
        "previewUnitstype": "previewUnits",
        "previewUnits": "days",
        "pastviewtype": "num",
        "pastview": "10",
        "pastviewUnits": "days",
        "pastviewUnitstype": "pastviewUnits",
        "x": 310,
        "y": 20,
        "wires": [
            [
                "1a5e3a6864b4245a"
            ]
        ]
    },
    {
        "id": "361853ba4ef1185b",
        "type": "ftp",
        "host": "",
        "port": "",
        "secureOptions": "",
        "user": "",
        "connTimeout": "",
        "pasvTimeout": "",
        "keepalive": ""
    },
    {
        "id": "24cf703021ba6494",
        "type": "ical-config",
        "url": "https://ateliers.labsud.org/category/0/events.ics",
        "caldav": "",
        "caltype": "ical",
        "name": "",
        "replacedates": false,
        "usecache": false,
        "username": "",
        "password": "",
        "includeTodo": false,
        "calendar": "",
        "pastWeeks": "0",
        "futureWeeks": "4"
    }
]